In [1]:
a=5
print(a)

5

In [2]:
a=a+5
print(a)

10

In [3]:
a=10
b=20
print(a,b)

10 20

In [4]:
pupu=a
a=b
b=pupu
print(a,b)

20 10

In [5]:
a,b= 10 ,20
print(a,b)
b,a=a,b
print(a,b)

10 20
20 10

In [21]:
k= input()

1.2

In [22]:
type(k)

str

In [23]:
float(k)+100

101.2

In [14]:
abs(10)

10

In [15]:
abs(-10)

10

In [24]:
max(1,1.74,6569)

6569

In [25]:
x=69
if x >0:
    x=x+6
print(x)

75

In [26]:
x=65
x>60

True

In [27]:
x=65
x<0

False

In [28]:
x= 60
k=(x>50)
print(k)
print(type(k))
print(int(k))

True
<class 'bool'>
1

In [29]:
x=50
k=(x<45)
print(k)
print(type(k))
print(int(k))

False
<class 'bool'>
0

In [30]:
x=50
k=(x==100)
print(k)
print(type(k))
print(int(k))

False
<class 'bool'>
0

In [31]:
print('|%10d %9d %9d|' %(12345,12,1234567))

|     12345        12   1234567|

In [5]:
format(123.456789,'.2%')

'12345.68%'

In [4]:
type(format(123.456789,'.2%'))

str

In [6]:
format(123.456789,'.2f')

'123.46'

In [7]:
float(format(123.456789,'.2f'))

123.46

In [8]:
round(123.456789,2)

123.46

In [10]:
round(12345.67,1)

12345.7

In [15]:
i=0
i=i+2
print(i)
i=i+2
print(i)

2
4

i=0
i = i + 3
print(i)
i = i + 3
print(i)

In [17]:
i=20
i*=20
i=i*20
print(i)
i=i*10
print(i)

8000
80000

In [18]:
i = 10
i *= 10
i = i *10
print(i)
i = i *10
print(i)

1000
10000

In [19]:
k=input()
float(k)+10

100

110.0

In [22]:
import math as ma

ModuleNotFoundError: No module named 'english'

In [23]:
ma.ceil(3.4)

4

In [24]:
ma.ceil(5.2)

6

In [25]:
ma.ceil(6.1)

7

In [26]:
1>=0

True

In [29]:
int(-1>=0)

0

In [33]:
k=1
if(k>=0):
    print(k)
    print(k)
    print(k)
print("gg")

1
1
1
gg

In [34]:
k=-20
if(k>=0):
    print(k)
    print(k)
    print(k)
print("gg")

gg

In [35]:
x=50
if(x>50):
    x=x+6
    print(x)
print(x)

50

In [36]:
x=60
if(x>50):
    x=x+6
    print(x)
print(x)

66
66

In [47]:
nummer=10
demon=0
if(demon!=0):
    ans=numer/demon
else:
    ans="分母為0"
print(ans)

分母為0

In [45]:
10%3

1

In [57]:
num = 0
if(num%2==0):
    print(num, "是偶數")
else:
    print(num, "是奇數")

0 是偶數